/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "firaGo-regular";
  src: url(../../assets/fonts/FiraGO_TTF_1001/Roman/FiraGO-Regular.ttf);
}
@font-face {
  font-family: "firaGo-medium";
  src: url(../../assets/fonts/FiraGO_TTF_1001/Roman/FiraGO-Medium.ttf);
}
@font-face {
  font-family: "firaGo-light";
  src: url(../../assets/fonts/FiraGO_TTF_1001/Roman/FiraGO-Light.ttf);
}
@font-face {
  font-family: "firaGo-extra-bold";
  src: url(../../assets/fonts/FiraGO_TTF_1001/Roman/FiraGO-ExtraBold.ttf);
}
@font-face {
  font-family: "firaGo-extra-light";
  src: url(../../assets/fonts/FiraGO_TTF_1001/Roman/FiraGO-ExtraLight.ttf);
}
@font-face {
  font-family: "firaGo-semiBold";
  src: url(../../assets/fonts/FiraGO_TTF_1001/Roman/FiraGO-SemiBold.ttf);
}
@font-face {
  font-family: "firago-italic-light";
  src: url(../../assets/fonts/FiraGO_TTF_1001/Italic/FiraGO-LightItalic.ttf);
}
@font-face {
  font-family: "Nika";
  src: url(../../assets/fonts/Nika-Regular.ttf);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 70px;
}
body .left-marquee {
  max-width: 64px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
}
body .left-marquee .left {
  width: 32px;
  margin: 0 auto;
  height: 100%;
}
body .left-marquee .left img {
  margin-bottom: 20px;
}
body .left-marquee .left .star {
  margin-left: 4px;
}
body .right-marquee {
  max-width: 64px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
}
body .right-marquee .right {
  width: 32px;
  margin: 0 auto;
  height: 100%;
}
body .right-marquee .right img {
  margin-bottom: 20px;
}
body .right-marquee .right .star2 {
  margin-right: 4px;
}
body .main-section.blur {
  filter: blur(4px);
}
body .main-section {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 115px 0 55px 0;
}
body .main-section .logo-wrapper {
  padding: 5px 0;
  display: grid;
  place-items: center;
}
body .main-section .logo-wrapper img {
  max-width: 411.23px;
  width: 100%;
}
body .main-section .ortskhobila.disabled {
  display: none;
}
body .main-section .ortskhobila.active {
  display: flex;
}
body .main-section .ortskhobila {
  max-width: 500px;
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
  padding: 10px;
}
body .main-section .ortskhobila .cookie {
  max-width: 436px;
  width: 100%;
  cursor: pointer;
  transition: 0.5s all ease;
}
body .main-section .ortskhobila .cookie:hover {
  transform: scale(1.03);
  transition: 0.5s all ease;
}
body .main-section .ortskhobila .price-tag {
  position: absolute;
  right: 0px;
  max-width: 151.4px;
  width: 100%;
}
body .main-section .click-text p {
  font-family: "firaGo-light";
  font-size: 24px;
  font-style: italic;
  font-weight: 200;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
}
body .main-section .click-text.disabled {
  display: none;
}
body .main-section .social-wrap {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 100px;
  padding-bottom: 80px;
}
body .popup-wrapper {
  width: 662px;
  height: 331px;
  padding: 0 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: solid 2px #000;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
}
body .popup-wrapper .download-button {
  width: 168px;
  height: 47px;
  display: grid;
  place-items: center;
  font-family: "firaGo-medium";
  font-size: 24px;
  border: solid 2px #000;
  border-radius: 15px;
  margin-top: 44px;
  cursor: pointer;
  transition: all ease 0.4s;
}
body .popup-wrapper .download-button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body .popup-wrapper .close {
  align-self: flex-end;
  cursor: pointer;
}
body .popup-wrapper .select-format .instruction {
  font-family: "firaGo-medium";
  font-size: 24px;
  margin-top: 14px;
}
body .popup-wrapper .formats-wrap {
  display: flex;
  border: solid 2px #000;
  border-radius: 24px;
  margin-top: 25px;
  transition: all ease 0.4s;
}
body .popup-wrapper .formats-wrap:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body .popup-wrapper .formats-wrap .format {
  width: 280px;
  height: 77px;
  display: grid;
  place-items: center;
  border-right: solid 2px #000;
  border-radius: 20px 0 0 20px;
  cursor: pointer;
}
body .popup-wrapper .formats-wrap .format h4 {
  font-family: "firaGo-regular";
  font-size: 24px;
}
body .popup-wrapper .formats-wrap .format p {
  font-family: "firaGo-light";
  font-size: 15px;
}
body .popup-wrapper .formats-wrap .format1 {
  width: 280px;
  height: 77px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
body .popup-wrapper .formats-wrap .format1 h4 {
  font-family: "firaGo-regular";
  font-size: 24px;
}
body .popup-wrapper .formats-wrap .format1 p {
  font-family: "firaGo-light";
  font-size: 15px;
}
body .popup-wrapper.active {
  display: flex;
  animation: 1s ease-in popup;
}

.random-message {
  max-width: 860px;
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.random-message .open-new.none {
  opacity: 0;
}
.random-message .open-new {
  max-width: 200px;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.random-message .open-new p {
  font-family: "firago-italic-light";
  opacity: 70%;
}
.random-message .open-new .image-svg {
  height: 20px;
  display: grid;
  place-items: center;
}
.random-message .open-new .image-svg img {
  opacity: 100%;
}
.random-message .cookie-meesage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
}
.random-message .cookie-meesage .message {
  font-family: "Nika";
  font-size: 48px;
  font-weight: 400;
  line-height: 51px;
  text-align: center;
  padding: 5px;
  transition: 0.5s all ease;
}
.random-message .cookie-meesage .star {
  font-family: "Nika";
  color: red;
  font-size: 64px;
  margin-right: 10px;
}
.random-message .cookie-meesage .star1 {
  font-family: "Nika";
  color: red;
  font-size: 64px;
  align-self: flex-start;
  margin-left: 10px;
}
.random-message .download {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 10px;
  cursor: pointer;
  margin-top: 150px;
}
.random-message .download p {
  font-family: "firaGO-light";
  font-size: 24px;
  font-style: italic;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  opacity: 0.8;
}

.random-message.disabled {
  display: none;
}

@keyframes popup {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}/*# sourceMappingURL=global.css.map */