$pc: 1440px; // PC screen size.
$tablet: 720px; // Tablet screen size.
$phone: 430px; // Phone screen size.
$iphone: 398px; //? es arvici zustad ori dizaini iyo telefonze

$first: $tablet - 1;
$second: $pc + 1;

@mixin responsive($media) {
  @if $media= phone {
    @media only screen and (max-width: $first) {
      //tablet - 1
      @content;
    }
  } @else if $media= tablet {
    @media only screen and (min-width: $first) and (max-width: $pc) {
      @content;
    }
  } @else if $media= pc {
    @media only screen and (min-width: $second) and (max-width: $pc) {
      @content;
    }
  } @else if $media= pc_tablet {
    @media only screen and (min-width: $first) {
      @content;
    }
  }
}
